@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* a:link, a:visited {

  color: #3385ff;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
} */



/* input[type=text], select {
  width: 25%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  width: 25%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 25%;
  background-color: #818181;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=file] {
 width: 25%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  width: 25%;
padding: 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
table, td, th {  
  border: 1px solid #ddd;
  text-align: center;
}

table {
  float: right;
  width: 300px;
  padding: 10px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
input[type=submit]:hover {
  background-color: #45a049;
} */